.MovieCardExtended {
  width: 80%;
  margin: auto;
 &-details {
   width: 50%;
   gap: 2rem;
   text-align: left;
   margin-left: 12rem;
 }
  &-synopsis {
    line-height: 3rem;
  }

  &-back-link {
    width: 26rem;
  }

  @media only screen and (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    img {
      width: 100%;
    }

    &-details {
      width: 100%;
      margin: 0;
      font-size: 2rem;
      padding: 20px 0;
      background: #FFFFFF 0 0 no-repeat padding-box;
    }

    &-back-link {
      width: auto;
    }

  }
}